<div class="avatar-mini {{class}}">
    {{#if avatarSrc }}
        <img
            class="avatar-mini__avatar-img"
            src={{avatarSrc}} 
            alt="avatar"
        >
    {{else}}
        {{ userNameChar }}
    {{/if}}
</div>
