<div class="menu">
    {{{ Activator }}}

    <div class="menu__content">
        <ul class="menu__list">
            {{#each menuList }}
                <li class="menu__item text-12-medium">
                    {{{ this }}}
                </li>
            {{/each }}
        </ul>
    </div>
</div>
