.edit-profile {
    &__title {
        text-align: center;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 50px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 600px;
        padding: 20px;
        border-radius: 15px;
    }

    &__link {
        font-size: 14px;
        line-height: 14px;
    }
}
