<header class='header'>
    <nav class="header__nav">
        <ul class="header__list list">
            {{#each items}}
            <li class="list__item">
                {{{ this }}}
            </li>
            {{/each}}
        </ul>
    </nav>
</header>
