<header class="chat-header">
    <div class="chat-header__wrap flex-row">
        <div class="chat-header__chat-info">
            {{{ avatarMini }}}
            <h3 class="chat-header__title title-13-bold">
                {{ title }}
            </h3>
        </div>
        <div class="chat-header__chat-utils">
            {{{ userContextMenu }}}
        </div>
    </div>
</header>
