:root {
    --blue: #3369f3;
    --blue-hover: #6590f9;
    --blue-700: #e4edfd;
    --white: #fff;
    --gray-900: #efefef;
    --gray-700: #ccc;
    --gray-600: #999;
    --gray-300: #333;
    --gray-100: #1e1e1e;
    --error: #ff2f2f;
    --red-900: #ff5a5a;
    --red-700: #c90000;
    --gray-border: #eaeaea;
    --green: #9ad164;
    --light-900: #f8f8f8;
    --bg-black-700: rgb(0 0 0 / 70%);
}
